/.vs/
/Debug/
/x64/
/Week10/.vs/
/Week10/x64/
/Week10/Week10/x64/
/Week1/.vs/
/Week1/x64/
/Week1/Week1/x64/
/Week2/.vs/
/Week2/x64/
/Week2/Week2/x64/
/Week4/.vs/
/Week4/x64/
/Week4/Week4/x64/
/MakeScanf/.vs/
/MakeScanf/x64/
/MakeScanf/MakeScanf/x64/
/RunningGame/.vs/
/RunningGame/x64/
/RunningGame/RunningGame/x64/